# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
*.mo
media/
staticfiles/

# Virtual environment
venv/
env/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
